<header>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRH18G8psedc1HzEzv_wzEkL1bx8mKtRh_uoS-PlVqjIXHEfR5K&s&fbclid=IwAR3_-wnqkYfIcH6rPBEWoby8sWHbXiWNCk4vJgTz7pFBt-RMQvDHYsaoCnE" alt="">
</header>


<div class="container">
	<div class="row">
		<div class="col-lg-4 texto-centrado">
			<h3>Login</h3>
			<p>Entra aqui para poder iniciar secion en esta página</p>
			<a [routerLink]="'/login'">Iniciar sesión</a>
		</div>
		<div class="col-lg-4 texto-centrado">
			<h3>Registro</h3>
			<p>Entre aqui para registrarte como un usuario nuevo</p>
			<a [routerLink]="'/registro'">Registrate</a>
		</div>
		<div class="col-lg-4 texto-centrado">
			<h3>Perfil</h3>
			<p>Ve las publicaciones de tus contectos nuevos, y conoce</p>
			<a [routerLink]="'/perfil'">Explora</a>
		</div>
	</div>
</div>